@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', 'sans-serif';
}
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 20px;

}
.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: #f9004d;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
.hamburger-icon{
    display:none;
}
@media screen and (max-width:576px){
    .hamburger-icon{
        font-size:30px;
        color:white;
        display:block
    }
    .hamburger-container{
        display:hide;
    }
}
.hamburger-container{
    background-color:transparent;
    padding:15px;
    text-decoration:none;
    font-size:20px;
    line-height:29px;
}
.hamburger-container-hide{
    display:none
}

div ul{
    list-style:none;
}
div ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}
div ul li a:hover{
 color:#f9004d;
}

@media all and (max-width:576px){
    nav ul{
        display:none
    }
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    margin-right: 10px
}
@media all and (max-width:576px){
    .btn{
        display:none
    }
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translateY(-50%);
}
@media all and (max-width:576px){
    .content{
        position:absolute;
        top:50%
    }
}
h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
@media all and (max-width:576px){
    h1{
        font-size:50px;
    }
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
@media all and (max-width:576px){
    h3{
        font-size:20px;
    }
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
@media all and (max-width:576px){
    h4{
        font-size:19px;
    }
}



.images {
    width: 30%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    display:block;
}
@media all and (max-width:576px){
    .images{

    }
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
@media all and (max-width:576px){
    .images img{
        height:50%;
        bottom:0;
    }
}

.images .img1 {
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.shape{
    display:block;
}

@media all and (max-width:576px){
    .images .shape{
        display:none
    }
}
.images:hover .shape {
    bottom: 20px;
}

.images:hover .profile {
    left: 45%;
}
.icon{
    color:white;
    font-size:30px;
    margin-right:25px
}
.twitter .facebook .instagram .github .linkedin{
    transition-property:font-size;
    transition-delay:0.2s;
    transition-duration:0.2s;
    transition-timing-function:ease-in
}
.twitter:hover{
    font-size:35px;
    color:#f9004d;
}
.facebook:hover{
    color:#f9004d;
    font-size:35px;
}
.instagram:hover{
    color:#f9004d;
    font-size:35px;
}
.github:hover{
    color:#f9004d;
    font-size:35px;
}
.linkedin:hover{
    color:#f9004d;
    font-size:35px;

}
